/* TODO fix for IE9 */
@font-face {
    font-family: abrilfatfaceregular;
    src: url('../fonts/AbrilFatface-Regular.ttf');
}

.university-title {
  font-family: 'abrilfatfaceregular';
  font-size: 36pt;
  font-weight: 400;
  color: #000000;
  margin-top: 10%;
}

@media (max-width: 767px) {
    .university-title {
      font-size: 22pt;
    }
    .text-center {
      text-align: left;
    }
}

@font-face {
    font-family: sourcesansprobolditalic;
    src: url('../fonts/SourceSansPro-BoldItalic.ttf');
}

.contact {
  /*margin-top: 10%;*/
  font-family: 'sourcesansprobolditalic';
  font-size: 20pt;
  font-weight: 700;
  font-style: italic;
  letter-spacing: -1px;
  text-align: justify;
  text-decoration: none;
  border-bottom: 0.5mm solid #e73627;
  display: inline-block;
}

@media (max-width: 767px) {
  .contact {
    font-size: 17pt;
    -webkit-transform: scale(0.9, 1); /* Safari and Chrome */
    -moz-transform: scale(0.9, 1); /* Firefox */
    -ms-transform: scale(0.9, 1); /* IE 9+ */
    -o-transform: scale(0.9, 1); /* Opera */
    transform: scale(0.9, 1);
  }
}


@font-face {
    font-family: sourcesansprolight;
    src: url('../fonts/SourceSansPro-Light.ttf');
}

/*Text fonts*/
.text, .translation-text {
  font-family: 'sourcesansprolight';
  font-weight: 300;
  letter-spacing: 0.1px;
  font-size: 10pt;
  color: #2e2722;
}


.text > span {
  color: #e73627;
  color: inherit;
}

.text {
  margin-top: 5%;
}

.content {
  margin-left: 15%;
  margin-right: 15%;
}
