/* TODO fix for IE9 */
@font-face {
  font-family: sourcesansproregular;
	src: url('../fonts/SourceSansPro-Regular.ttf');
}

.header {
  position:fixed;
  top:0px;
  margin-left: 70%;
}

.language-btn {
  color: #ffffff;
  background: #e73627;
  font-family: 'sourcesansproregular';
  font-size: 8pt;
  font-weight: 400;
  text-decoration: none;
  float: left;
}

.language-left-btn {
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 0 0 0 12px;
  /* Firefox 1-3.6 */
  -moz-border-radius: 0 0 0 12px;
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 0 0 0 12px;
  /*padding: 5px 0 5px 17px;*/
  text-align: right;
}

.language-right-btn {
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 0 0 12px 0;
  /* Firefox 1-3.6 */
  -moz-border-radius: 0 0 12px 0;
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 0 0 12px 0;

  /*padding: 5px 17px 5px 5px;*/
  text-align: left;
}

.language-center-btn {
/* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 0 0 12px 12px;
  /* Firefox 1-3.6 */
  -moz-border-radius: 0 0 12px 12px;
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 0 0 12px 12px;
  /*padding: 5px 0 5px 17px;*/


  /*padding: 5px 17px 5px 5px;*/
  text-align: center;
}
