@font-face {
    font-family: sourcesansprolight;
    src: url('../fonts/SourceSansPro-Light.ttf');
}

/* shared_fonts */
textarea, .dropdown {
  font-family: 'sourcesansprolight';
   font-weight: 300;
  letter-spacing: 1px;
}

textarea {
  font-size: 10pt;
  color: #2e2722;
  resize: none;
  border-color: #000000;
  border-style: solid;
  border-width: 0.37px;
}

.dropdown-menu {
  font-size: 9.8pt;
  color: #e73627;
  border-width: 0;
  box-shadow: none;
  /* Theoretically for IE 8 & 9 (more valid) */
	/* ...but not required as filter works too */
	/* should come BEFORE filter */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

	/* This works in IE 8 & 9 too */
	/* ... but also 5, 6, 7 */
	filter: alpha(opacity=80);

	/* Older than Firefox 0.9 */
	-moz-opacity:0.8;

	/* Safari 1.x (pre WebKit!) */
	-khtml-opacity: 0.8;
  opacity: 0.8;
}


@media (max-width: 767px) {
    .dropdown-menu {
      font-size: 10pt;
    }
}

.translation {
  text-align: center;
}

.translate-from, .translate-to {
  color: #5d5550;
  background: #ffffff;
  border: 0;
}

.dropdown-arrow {
  color: #e73627;
}

.dropdown-menu {
    margin-top: -1px;
}

.dropdown-menu>li>a {
    background-color: #ffffff;
    text-decoration: none;
}



.dropdown-menu>li>a:focus, .dropdown-menu>li>a:active, .dropdown-menu>li>a:hover {
  color: #e73627;
  background-color: #ffffff;
  border: 0;
}

.translation-area {
  width: 100%;
}
