.footer, .header {
  background-color: #e73627 !important;
  color: white !important;
  border: red !important;
  font-family: SourceSansPro-BoldItalic !important;
  src: url('fonts/SourceSansPro-BoldItalic.ttf');
  font-size: 10pt !important;
}

h1 {
  font-family: AbrilFatface !important;
  font-size: 36pt !important;
}

.button {
  border-color: #2e2722 !important;
  /*border: 0.37px;*/
}

.container-text {
  line-height: 18px;
  word-wrap: normal;
}

.container-img {
  max-height: 18px;
  max-width: 18px;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

img {
    position:absolute;
    top: 0;
    left:0;
    margin: 0;
}
