.dropdown-toggle .icon-bars-button{
  display: inline-block;
  vertical-align:middle;
}
.dropdown-toggle .icon-bar {
  margin-bottom: 2px;
  display: block;
  width: 22px;
  height: 2px;
  background-color: #000000;
  border-radius: 1px;
}

.space30px {
  margin-top: 30px;
}

.space10px {
  margin-top: 10px;
}

.space1percent {
  margin-top: 1%;
}

.space3percent {
  margin-top: 3%;
}

.space5percent {
  margin-top: 5%;
}

.space7percent {
  margin-top: 7%;
}

.space15percent {
    margin-top: 15%;
}

.space17percent {
  margin-top: 17%;
}

.space20percent {
  margin-top: 20%;
}

.icon-max-size {
  max-width: 40px;
  max-height: 40px;
}

.cursor-custom {
   cursor: url('/static/image/hand-pointer-icon.png'), auto;
}

.pointer {
    cursor: pointer;
}

.general-info {
  color: #e73627 !important;
}

.navbar-default {
  background-color: #ffffff;
  border-width: 0;
}

.navbar-toggle {
  border-width: 0;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #ffffff;
}


html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -30px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.page-wrap:after {
  height: 30px;
}

.site-footer {
  margin-top: 10px;
}

.site-footer  {
  height: 20px;
}

.text-center-xs {
  text-align: center;
}

.inactive {
   pointer-events: none;
   cursor: default;
   color: #e73627 !important;
}


/* Animation for translations */
.glyphicon-refresh-animate {
    height: 15px;
    width: 15px;
    -animation: spin 2s infinite linear;
    -webkit-animation: spin2 2s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}


.microsoft-size {
    width: 26px;
    height: 26px;
    margin-left: 2px;
}

.google-size {
    margin-left: 1px;
    width: 28px;
    height: 28px;
}

.translation-text-length-counter {
    color: rgba(133, 133, 133, 0.57);
    font-size: 9.8pt;
}

.container-text {
  line-height: 18px;
  word-wrap: break-word;
}

.container-img {
  max-height: 18px;
  max-width: 18px;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

img {
    position:absolute;
    top: 0;
    left:0;
    margin: 0;
}
