.dropdown-toggle .icon-bars-button{
  display: inline-block;
  vertical-align:middle;
}
.dropdown-toggle .icon-bar {
  margin-bottom: 2px;
  display: block;
  width: 22px;
  height: 2px;
  background-color: #000000;
  border-radius: 1px;
}

.space30px {
  margin-top: 30px;
}

.space10px {
  margin-top: 10px;
}

.space1percent {
  margin-top: 1%;
}

.space3percent {
  margin-top: 3%;
}

.space5percent {
  margin-top: 5%;
}

.space7percent {
  margin-top: 7%;
}

.space15percent {
    margin-top: 15%;
}

.space17percent {
  margin-top: 17%;
}

.space20percent {
  margin-top: 20%;
}

.icon-max-size {
  max-width: 40px;
  max-height: 40px;
}

.cursor-custom {
   cursor: url('/static/image/hand-pointer-icon.png'), auto;
}

.pointer {
    cursor: pointer;
}

.general-info {
  color: #e73627;
}

.navbar-default {
  background-color: #ffffff;
  border-width: 0;
}

.navbar-toggle {
  border-width: 0;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #ffffff;
}


html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -30px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.page-wrap:after {
  height: 30px;
}

.site-footer {
  margin-top: 10px;
}

.site-footer  {
  height: 20px;
}

.text-center-xs {
  text-align: center;
}

.inactive {
   pointer-events: none;
   cursor: default;
   color: #e73627 !important;
}