/* TODO fix for IE9 */
@font-face {
  font-family: sourcesansprolight;
	src: url('../fonts/SourceSansPro-Light.ttf');
}

.translate-btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-family: 'sourcesansprolight';
  font-weight: 300;
  letter-spacing: 1px;
  color: #2e2722;
  font-size: 10pt;
  background: #ffffff;
  border-color: #2e2722;
  border-style: solid;
  border-width: 0.28pt;
  /*max-width: 100px;*/
}

.translate-btn:hover {
  border: 0.1mm solid #e73627;
  color: #ffffff;
  background: #e73627;
}

