{% extends "index-et.html"%}
{% block head %}
About
{% endblock %}

{% block content %}
    <div class="row main-block">
      <div class="space5percent"></div>
          <div class="content">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2
                          col-md-8 col-md-offset-2
                          col-sm-8 col-sm-offset-2
                          col-xs-12">
                <span class="contact">Üldinfo</span>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-8 col-lg-offset-2
                          col-md-8 col-md-offset-2
                          col-sm-8 col-sm-offset-2
                          col-xs-12
                          text">

                            See tõlkedemo on loodud
                            <a href="http://www.ut.ee">
                                <span class="general-info">
									 Tartu Ülikooli
									     </span>
                            </a>
                            <a href="http://www.cs.ut.ee">
                                <span class="general-info">
									 Arvutiteaduse instituudi
									     </span>
                            </a>
                            <a href="http://nlp.cs.ut.ee">
                                <span class="general-info">
                                keeletehnoloogia uurimisrühma
                                </span>
                            </a> poolt.
									 Me kasutame
									 <a href="https://camo.githubusercontent.com/a3c087bfca2eb44553f284ac13b19ccc27a333ed/68747470733a2f2f332e62702e626c6f6773706f742e636f6d2f2d3350626a5f64767430566f2f562d71652d4e6c365035492f41414141414141414251632f7a305f365774565774764152744d6b3069395f41744c6579794779563641493477434c63422f73313630302f6e6d742d6d6f64656c2d666173742e676966">
									 	<span class="general-info">
									 neuromasintõlget</span></a>, täpsemaid detaile leiab
									 <a href="http://github.com/fishel/kama">
									 <span class="general-info">
									 siit</span></a>. Sealt samast leiab ka meie treenitud tõlkemudeleid, kui te tahate neid ise kasutada. Isegi selle veebilehe kood on avalikult
									 <a href="http://github.com/ChameleonTartu/neurotolge">
									 <span class="general-info">
									 kättesaadav</span></a>.
									 
                            <div class="space10px"></div>
									 
									Kui tahate kasutada meie tõlkesüsteemi API kaudu või tellida meilt oma teksti valdkonnale kohendatud tõlkesüsteemi, siis võtke
                                <a href="http://nlp.cs.ut.ee">
                                    <span class="general-info">
                                        meiega</span></a> ühendust.
									 
                            <div class="space10px"></div>
									 
                            Nupp "Mängi" laseb teil võrrelda kolme tõlkesüsteemi väljundit: meie oma,
									 <a href="http://translate.tilde.com/neural">
									 	<span class="general-info">
										Tilde
										</span>
										</a>
										ja
										<a href="http://translate.google.com">
										<span class="general-info">
										Google'i</span></a> oma, ilma teadmata, milline tõlge kuulub millisele süsteemile. Pärast kui parimat tõlget valite, saate näha, mis süsteem selle genereeris. Nii saate teie mängida ning meie -- koguda erapooletut tagasisidet tõlkekvaliteedist. Vaadake seni korjatud
									 <a href="/errors/et">
									 	<span class="general-info">
										Statistikat</span></a>.

                            <div class="space10px"></div>

									 Tõlkedemot arendame
                            <a href="https://www.keeletehnoloogia.ee/en">
                                <span class="general-info">
                                    EKT
                                </span>
                            </a>
									 projekti
                            <a href="https://www.keeletehnoloogia.ee/et/ekt-projektid/kama-kasutatav-eesti-masintolge">
                                <span class="general-info">
									 nr. 88
                                </span>
                            </a>
									 "KaMa: kasutatav eesti masintõlge" raames. Samuti on seda toetanud
                            <a href="http://www.eas.ee/">
                                <span class="general-info">
									 EAS
									 </span>
									 </a>
									 ja 
									 <a href="http://www.etag.ee/">
									 <span class="general-info">
									 ETAg</span></a>.
									 
                            <div class="space10px"></div>
									 
                            Sisestatud teksti võidakse salvestada, kasutada teaduslikus uurimustöös ja anonüümselt avalikustada.
            </div>
          </div>
        </div>
    </div>
{% endblock %}
