{% extends "index-et.html"%}
{% block head %}
About
{% endblock %}

{% block content %}
    <div class="row main-block">
      <div class="space5percent"></div>
          <div class="content">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2
                          col-md-8 col-md-offset-2
                          col-sm-8 col-sm-offset-2
                          col-xs-12">
                <span class="contact">Projekti üldinfo</span>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-8 col-lg-offset-2
                          col-md-8 col-md-offset-2
                          col-sm-8 col-sm-offset-2
                          col-xs-12
                          text">

                            See tõlkedemo on loodud Tartu Ülikooli Arvutiteaduse instituudi
                            <a href="http://nlp.cs.ut.ee">
                                <span class="general-info">
                                keeletehnoloogia uurimisrühma
                                </span>
                            </a> poolt.
									 Me kasutame neuromasintõlget; kui tahate ise kasutada meie tõlkemudeleid või leida
									 spetsiifilist infot kasutatud lähenemise ja andmete kohta, vaadake
									 <a href="http://github.com/fishel/kama">
                               <span class="general-info">
                                   siia</span></a>.
									Kui tahate kasutada meie tõlkesüsteemi API'na või tellida meilt oma teksti valdkonnale kohendatud tõlkesüsteemi, siis võtke
                                <a href="http://nlp.cs.ut.ee">
                                    <span class="general-info">
                                        meiega</span></a> ühendust.
									 
                            Nupp "Mängi" laseb teil võrrelda kolme tõlkesüsteemi väljundit: meie oma,
									 <a href="http://translate.tilde.com/neural">
									 	<span class="general-info">
										Tilde
										</span>
										</a>
										ja
										<a href="http://translate.google.com">
										<span class="general-info">
										Google'i</span></a> oma. Kuna teilt palutakse valida parimat tõlget ilma teadmata, kumb on kumb, siis see töötab erapooletu tagasisidena tõlkekvaliteedi kohta, ning seega me salvestame igat nupuvajutust.

                            <div class="space10px"></div>

                            Projekti toetab
                            <a href="https://www.keeletehnoloogia.ee/en">
                                <span class="general-info">
                                    EKT
                                </span>
                            </a>.
                            Sisestatud teksti võidakse salvestada ja/või kasutada teaduslikus uurimustöös.

            </div>
          </div>
        </div>
    </div>
{% endblock %}
