{% extends "index.html"%}
{% block head %}
About
{% endblock %}

{% block content %}
    <div class="row main-block">
      <div class="space5percent"></div>
          <div class="content">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2
                          col-md-8 col-md-offset-2
                          col-sm-8 col-sm-offset-2
                          col-xs-12">
                <span class="contact">Projekti üldinfo</span>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-8 col-lg-offset-2
                          col-md-8 col-md-offset-2
                          col-sm-8 col-sm-offset-2
                          col-xs-12
                          text">

                            Masintõlkesüsteem on loodud Tartu Ülikooli Matemaatika-informaatikateaduskonna
                            keeletehnoloogia teadusgrupi masintõlke töörühma poolt. Süsteemi eesmärgiks on
                            demonstreerida grupisisest tööd laiemale avalikkusele ning saada kasutajatelt
                            süsteemi väljundi kvaliteedi kohta tagasisidet. Statistilisest masintõlkest saab
                            rohkem lugeda kas avaldatud artiklitest (
                            <a href="http://kodu.ut.ee/~fishel/doc/publ/masintolge.bhlt12.pdf">
                                <span class="general-info">1
                                </span>
                            </a>,
                            <a href="http://ebooks.iospress.nl/volumearticle/45518">
                                <span class="general-info">
                                    2
                                </span>
                            </a>).
                            Masintõlke projekt on toetatud
                            <a href="https://www.keeletehnoloogia.ee/et/ekt-projektid/kama-kasutatav-eesti-masintolge">
                                <span class="general-info">EKT</span>
                            </a> poolt.

                             <div class="space10px"></div>

                            Sisestatud teksti võidakse salvestada ja/või kasutada teaduslikus uurimustöös.

                             <div class="space10px"></div>

                            Kontakt:
                            <a href="mailto:fishel@ut.ee">
                                <span class="general-info">
                                    Mark Fišel
                                </span>
                            </a>

                            <!--
                            Masintõlkesüsteem on loodud Tartu Ülikooli Matemaatika-informaatikateaduskonna
                  keeletehnoloogia teadusgrupi masintõlke töörühma poolt. Süsteemi eesmärgiks on
                  demonstreerida grupisisest tööd laiemale avalikkusele ning saada kasutajatelt süsteemi
                  väljundi kvaliteedi kohta tagasisidet. Statistilisest masintõlkest saab rohkem lugeda kas
                  avaldatud artiklitest (<a href="#"><span class="general-info">1, 2</span></a>)
                  või <a href="#"><span class="general-info">Wikipeediast</span></a>.
                  Masintõlke projekt on toetatud <a href="#"><span class="general-info">EKKTT</span></a> poolt.

                  <div class="space10px"></div>

                  <p> Sisestatud teksti võidakse salvestada ja/või kasutada teaduslikus uurimustöös. </p>
                            -->

            </div>
          </div>
        </div>
    </div>
{% endblock %}
