{% extends "index-en.html"%}
{% block head %}
About
{% endblock %}

{% block content %}
    <div class="row main-block">
      <div class="space5percent"></div>
          <div class="content">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2
                          col-md-8 col-md-offset-2
                          col-sm-8 col-sm-offset-2
                          col-xs-12">
                <span class="contact">General info</span>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-8 col-lg-offset-2
                          col-md-8 col-md-offset-2
                          col-sm-8 col-sm-offset-2
                          col-xs-12
                          text">


                            This translation service is created by the
                                <a href="http://nlp.cs.ut.ee">
                                    <span class="general-info">
                                        NLP research group
                                    </span>
                                </a>
                            at the Institute of Computer Science, University of Tartu. The aim of this service is to demonstrate
                            the translation quality and to collect anonymous evaluation bits via the blind "choose the best translation"
                            option.

                            <div class="space10px"></div>
                            This project is supported by
                            <a href="https://www.keeletehnoloogia.ee/en">
                                <span class="general-info">
                                    NPELT
                                </span>
                            </a>.
                            The text you feed to the system can be saved and/or used for research purposes.

                            <div class="space10px"></div>
                            Contact:
                                <a href="mailto:fishel@ut.ee">
                                    <span class="general-info">
                                        Mark Fishel
                                    </span>
                                </a>

            </div>
          </div>
        </div>
    </div>
{% endblock %}
