{% extends "index-en.html"%}
{% block head %}
About
{% endblock %}

{% block content %}
    <div class="row main-block">
      <div class="space5percent"></div>
          <div class="content">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2
                          col-md-8 col-md-offset-2
                          col-sm-8 col-sm-offset-2
                          col-xs-12">
                <span class="contact">General info</span>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-8 col-lg-offset-2
                          col-md-8 col-md-offset-2
                          col-sm-8 col-sm-offset-2
                          col-xs-12
                          text">

                            This translation demo is created by the
                                <a href="http://nlp.cs.ut.ee">
                                    <span class="general-info">
                                        research group of natural language processing
                                    </span>
                                </a>
                            at the
                                <a href="http://www.cs.ut.ee">
                                    <span class="general-info">
									 Institute of Computer Science</span></a>,
                                <a href="http://www.ut.ee">
                                    <span class="general-info">
									 University of Tartu</span></a>.
									 We use neural machine translation, you can find some gory details
									 <a href="http://github.com/fishel/kama">
                               <span class="general-info">
                                   here</span></a>. You can also find our trained translation models there, in case you want to use them yourself. Even this website is
											  openly
                                <a href="http://github.com/ChameleonTartu/neurotolge">
                                    <span class="general-info">
                                        available</span></a>.
								
                            <div class="space10px"></div>
									 
									 If you would like to use the translation API as a service or have us build a custom tailored translation system for your own dark purposes, contact
									  <a href="http://nlp.cs.ut.ee">
											<span class="general-info">
									 the group</span></a>.
									 
									 The "Play" button allows you to compare the quality of three machine translation engines: our own, 
									 <a href="http://translate.tilde.com/neural">
									 	<span class="general-info">
										Tilde's
										</span>
										</a>
										and
										<a href="http://translate.google.com">
										<span class="general-info">
										Google's</span></a>, without knowing which translation was done by which system. After you pick the best translation you will see, which system generated it. That way it's fun, and it also works as unbiased feedback about the translation quality, so we save every click. See the accumulated
									 <a href="/errors/en">
									 	<span class="general-info">
										statistics</span></a>.

                            <div class="space10px"></div>
									 
                            This demo is being developed as part of the
                            <a href="https://www.keeletehnoloogia.ee/en">
                                <span class="general-info">
                                    NPELT
												</span>
												</a>
										project
                            <a href="https://www.keeletehnoloogia.ee/en/projects-2011-2017/usemt-usable-estonian-machine-tranlsation">
                                <span class="general-info">
										  EKT88</span></a>: "KaMa: Usable Estonian Translation (kasutatav eesti masintõlge)".
									 
                            <div class="space10px"></div>
									 
                            The text you feed to the system can be saved, used for research purposes and anonymously published.
            </div>
          </div>
        </div>
    </div>
{% endblock %}
