{% extends "index-et.html"%}
{% block head %}
Tõlkekvaliteet ja vead
{% endblock %}

{% block content %}
    <div class="row main-block">
      <div class="space5percent"></div>
          <div class="content">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2
                          col-md-8 col-md-offset-2
                          col-sm-8 col-sm-offset-2
                          col-xs-12">
                <span class="contact">Tõlkekvaliteet ja vead</span>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-8 col-lg-offset-2
                          col-md-8 col-md-offset-2
                          col-sm-8 col-sm-offset-2
                          col-xs-12
                          text">
								  Jah, meie tõlkesüsteem teeb vigu. Mõnikord ta isegi genereerib mõttetuid tõlkeid, mis on väga nõrgalt või üldse mitte seotud sisendlausega. Teised tõlkesüsteemid, eriti tehisnärvivõrgupõhised käituvad samamoodi (nt. proovige tõlkida "Paneb puusse." inglise keelde). Sageli töötab ta üllatavalt hästi ka (nt. proovige "It reports remarkable achievements in tackling neglected tropical diseases since 2007.").
								  
                            <div class="space10px"></div>
									 
									 Sellise käitumise põhjus on selles, et neuromasintõlke süsteemid õpivad eelkõige genereerima väljundteksti, ning võivad aga ei pruugi vaadata ka sisendteksti. Iga kord kui sisendtekst on ükskõik mis mõttes süsteemi jaoks ootamatu või tähed taevas on valetpidi joondunud, võib süsteem genereerida mingisuguse tekstiväljundi, mis on parimal juhul napilt (halvimal juhul üldse mitte) seotud sisendtekstiga. Me otsime viisi, kuidas olukorda parandada.

                            <div class="space10px"></div>
									
									Vaatamata tõlkevigadele saab meie tõlkesüsteemi kasutada praktikas -- näiteks järeltoimetamiseks (ehk tõlgime automaatselt, parandame käsitsi), mis on eriti edukas piiratud tekstivaldkondadega nagu juriidilised või tehnilised tekstid ning subtiitrid, kus tõlkeproduktiivsus võib kasvata 20%-30% võrreldes inimtõlkega nullist.
									
                            <div class="space10px"></div>
									 
									Mis puutub üldkvaliteeti, järgneb meie korjatud statistika teie parima tõlke valikutest nupu "mängi" alt:
									<p><img class="noabs" src="/static/image/genstats.png"></p>
									Mnjah, alguses olime küll Tilde ees, ning sama head kui Google Translate, nüüd aga tundub, et jäime taha. Töötame selle kallal edasi! 
									
                            <div class="space10px"></div>
									 
									 Muidugi, see pole üldse detailne; siin on sama statistika, eraldatuna lausepikkuse järgi:
									<p><img class="noabs" src="/static/image/lenstats.png"></p>
									Nagu võite näha, Google Translate on edukaim väga lühikeste lausete puhul, ning Tilde süsteemil tulevad pikad laused välja paremini kui teistel. Meie süsteem saab kõige paremini hakkama keskmise pikkusega lausetega.
            </div>
          </div>
        </div>
    </div>
{% endblock %}
