<!DOCTYPE html>
<html lang="et">

<head>
    <link rel="shortcut icon" href="http://www.ut.ee/sites/all/themes/ut_main/favicon.ico" type="image/vnd.microsoft.icon">
    <title>
        {% block head %}
            Uni. Tartu Machine Translation
        {% endblock %}
    </title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

    <link href="{{url_for('static', filename='css/language-translation-field.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/shared.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/language-buttons.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/translate-button.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/contacts.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/footer.css')}}" rel="stylesheet">
</head>

<body class="cursor-custom">
  <div class="container page-wrap">
      <!--language_buttons-->
      <div class="row">
          <div id="languages" class="header hidden-xs">
            <a href="#">
              <div class = "btn-sm language-btn language-center-btn">
                EST
              </div>
            </a>
            <a href="#" class="inactive hidden">
              <div class = "btn-sm language-btn language-right-btn inactive">
                ENG
              </div>
            </a>
        </div>
      </div>

      <div class="space15percent"></div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2
                    col-md-8 col-md-offset-2
                    col-sm-8 col-sm-offset-2
                    col-xs-9 col-xs-offset-1
                    text-center">
          <a href="/">
            <span class="university-title">
              Tartu Ülikooli masintõlge
            </span>
          </a>
        </div>

        <div class="visible-xs col-xs-1">
          <nav class="navbar navbar-default">
            <div class="container">
                <button class="navbar-toggle"
                        data-toggle="collapse"
                        onclick="ShowMenu()">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
            </div>
          </nav>
        </div>
      </div>

      <div class="row hidden-lg hidden-md hidden-sm hidden-xs menu-block">
        <div class="text-center-xs">
          <div>
            <a href="about.html"><span class="text">Projekti üldinfo</span></a>
          </div>
          <div>
            <a href="about.html"><span class="text">Kontakt</span></a>
          </div>
          <div>
            <a href="#"><span class="text">In English</span></a>
          </div>
        </div>
      </div>


      <div class="container-fluid main-block">

      {% block content %}
      <div class="space3percent"></div>
      <div class="row">
        <div class="col-lg-3 col-lg-offset-3
                    col-md-3 col-md-offset-3
                    col-sm-3 col-sm-offset-3
                    col-xs-5 col-xs-offset-1">
            <div class="dropdown pull-left">
              <button class="btn dropdown-toggle translate-from"
                      data-toggle="dropdown"
                      id="language-translate-from"
                      name="et">
                Eesti
                <span class="caret dropdown-arrow"></span></button>
              <ul class="dropdown-menu" id="language-translate-from-list">

              </ul>

            </div>
        </div>

        <div class="col-lg-3
                    col-md-3
                    col-sm-3
                    col-xs-5">
                  <div class="dropdown pull-right">
                    <button class="btn dropdown-toggle translate-to"
                            id="language-translate-to"
                            data-toggle="dropdown"
                            name="en">
                      Inglise
                      <span class="caret dropdown-arrow"></span>
                    </button>
                    <ul class="dropdown-menu" id="language-translate-to-list">
                      <!--<li><a href="#" tabindex="-1" name="en" class="language">Inglise</a></li>-->
                    </ul>

                  </div>
        </div>
      </div>

      <div class="row">
        <div class="translation form-group
                    col-lg-6 col-lg-offset-3
                    col-md-6 col-md-offset-3
                    col-sm-6 col-sm-offset-3
                    col-xs-10 col-xs-offset-1">
          <textarea class="col-lg-12 col-md-12 col-sm-12 col-xs-12" rows="8" cols="50" name="text" placeholder="Palun kirjutage oma tekst siia..."></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-2 col-lg-offset-5
                    col-md-2 col-md-offset-5
                    col-sm-2 col-sm-offset-5
                    col-xs-4 col-xs-offset-4">
          <div class="row ">
            <a href="#">
              <div class="col-lg-6 col-lg-offset-3
                          col-md-6 col-md-offset-3
                          col-sm-6 col-sm-offset-3
                          col-xs-6 col-xs-offset-3
                          translate-btn text-center-xs"> <!-- onclick="ShowTranslation()" -->
                            Tõlgi
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="space3percent"></div>

      <!--Initial state-->
      <div class="text">
        <div class="row">
          <div class="col-lg-6 col-lg-offset-3
                      col-md-6 col-md-offset-3
                      col-sm-6 col-sm-offset-3
                      col-xs-11 col-xs-offset-1
                      invisible"
                      id = "translation-title">
            Palun vali kõige parim tõlge:
            <div class="space3percent">
            </div>
          </div>
        </div>

        <div class="col-lg-offset-3
                    col-md-offset-3
                    col-sm-offset-3
                    col-xs-offset-1">
          <div id="translation-choice">
          </div>
        </div>
      </div>
      {% endblock %}

  </div>
  </div>


  <div class="container-fluid hidden-xs">
    <div class="row">
      <footer class="site-footer">
          <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <a href="/about">
              Projekti üldinfo
            </a>
          </div>

          <div class="hidden text-left">
            <a href="/about" class="inactive">
              Kontakt
            </a>
        </div>
      </footer>
    </div>
  </div>



  <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/language.js')}}"></script>
  <script src="{{url_for('static', filename='js/page.js')}}"></script>

  {% block languages %}
  <script>
    var language_pairs = {{ available_language_pairs|tojson }};
    var language_culture_names_to_estonian = {{ language_culture_names_to_estonian|tojson }};


    $(function() {
        GenerateTranslateFromList(language_pairs, language_culture_names_to_estonian);
    });
  </script>
  {% endblock %}

</body>

</html>
