<!DOCTYPE html>
<html lang="et">

<head>
    <link rel="shortcut icon" href="http://www.ut.ee/sites/all/themes/ut_main/favicon.ico" type="image/vnd.microsoft.icon">
    <title>
        {% block head %}
            Tartu Ülikooli masintõlge
        {% endblock %}
    </title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/language-translation-field.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/shared.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/language-buttons.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/translate-button.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/contacts.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/footer.css')}}" rel="stylesheet">

    <meta property="og:title" content="Tartu Ülikooli neuromasintõlge" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.neurotolge.ee" />
    <meta property="og:image" content="/static/image/nmtpic.png" />
    <meta property="og:description" content="Vaata meie eesti-inglise-eesti neuromasintõlke demot! Valmistatud Tartu Ülikooli arvutiteaduse instituudi keeletehnoloogia uurimisrühmas. Proovi ka 'Mängi' nupu!" />
    
    <!-- Google analytics -->
	<script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	    ga('create', 'UA-9283980-8', 'auto');
	    ga('send', 'pageview');
	</script>

</head>

<body class="cursor-custom">
    <div class="container page-wrap">

        <div class="row">
            <div id="languages" class="header hidden-xs">
                <a href="/et">
                    <div class="btn-sm language-btn language-left-btn">
                        EST
                    </div>
                </a>
                <a href="/en">
                    <div class="btn-sm language-btn language-right-btn">
                        ENG
                    </div>
                </a>
            </div>
        </div>

        <div class="space15percent"></div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2
                        col-md-8 col-md-offset-2
                        col-sm-8 col-sm-offset-2
                        col-xs-9 col-xs-offset-1
                        text-center">
                <a href="/et">
                    <span class="university-title">
                        Tartu Ülikooli masintõlge
                    </span>
                </a>
            </div>

            <div class="visible-xs col-xs-1">
                <nav class="navbar navbar-default">
                    <div class="container">
                        <button class="navbar-toggle"
                                data-toggle="collapse"
                                onclick="ShowMenu()">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                </nav>
            </div>
        </div>

        <div class="row hidden-lg hidden-md hidden-sm hidden-xs menu-block">
            <div class="text-center-xs">
                <!--
                <div class="text-center-force">
                    <a href="https://docs.google.com/forms/d/1NVvFbRUv1Yx_F9pbrfA1hr9tV8W9s1V7DfRrSwSiwJ0/viewform?edit_requested=true" target="_blank">
                        <span class="text">Uuring</span>
                    </a>
                </div>
                -->
                <div class="text-center-force">
                    <a href="/about/et"><span class="text">Mis see on?</span></a>
                </div>
                <div class="text-center-force">
                    <a href="/error/et"><span class="text">Paneb puusse!!!</span></a>
                </div>
                <div class="text-center-force">
                    <a href="/en"><span class="text">In English</span></a>
                </div>
            </div>
        </div>


        <div class="container-fluid main-block">

            {% block content %}
            <div class="space3percent"></div>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-3
                            col-md-3 col-md-offset-3
                            col-sm-3 col-sm-offset-3
                            col-xs-5 col-xs-offset-1">
                    <div class="dropdown pull-left margin-left-minus-11px">
                        <button class="btn dropdown-toggle translate-from"
                                data-toggle="dropdown"
                                id="language-translate-from"
                                name="et">
                            Eesti
                            <span class="caret dropdown-arrow"></span>
                        </button>
                        <ul class="dropdown-menu" id="language-translate-from-list">
                        </ul>

                    </div>
                </div>

                <div class="col-lg-3
                            col-md-3
                            col-sm-3
                            col-xs-5">
                    <div class="dropdown pull-right">
                        <button class="btn dropdown-toggle translate-to"
                                id="language-translate-to"
                                data-toggle="dropdown"
                                name="en">
                            Inglise
                            <span class="caret dropdown-arrow"></span>
                        </button>
                        <ul class="dropdown-menu" id="language-translate-to-list">
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="translation
                            col-lg-6 col-lg-offset-3
                            col-md-6 col-md-offset-3
                            col-sm-6 col-sm-offset-3
                            col-xs-10 col-xs-offset-1
                            nopadding">
                    <textarea id="translation-textarea"
                              class="col-lg-12
                                     col-md-12
                                     col-sm-12
                                     col-xs-12"
                              rows="8"
                              cols="50"
                              name="text"
                              maxlength="500"
                              placeholder="Kirjuta v&otilde;i kopeeri oma tekst siia"
                              autofocus></textarea>
                </div>
                <div id="translation-textarea-char-counter"
                     class="translation-text-length-counter
                            col-lg-6 col-lg-offset-3
                            col-md-6 col-md-offset-3
                            col-sm-6 col-sm-offset-3
                            col-xs-10 col-xs-offset-1
                            text-right
                            nopadding">

                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-lg-offset-3
                            col-md-6 col-md-offset-3
                            col-sm-6 col-sm-offset-3
                            col-xs-10 col-xs-offset-1">

                    <div class="row nopadding">
                        <a href="#">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div id="translateButton"
                                     class="col-lg-4 col-lg-offset-8
                                            col-md-5 col-md-offset-7
                                            cols-sm-6 col-sm-offset-6
                                            col-xs-8 col-xs-offset-4
                                            nopadding
                                            translate-btn text-center-xs">
                                    Tõlgi
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div id="playButton"
                                     class="col-lg-4
                                            col-md-5
                                            cols-sm-6
                                            col-xs-8
                                            nopadding
                                            translate-btn text-center-xs">
                                    Mängi
                                </div>
                            </div>
                        </a>
                        <div class="col-lg-2
                                    col-md-2
                                    col-sm-2
                                    col-xs-2">
                            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate
                                         translation-loader hidden">
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="space3percent"></div>

            <div class="text">
                <div class="row">
                    <div id = "translation-title"
                         class="col-lg-6 col-lg-offset-3
                                col-md-6 col-md-offset-3
                                col-sm-6 col-sm-offset-3
                                col-xs-10 col-xs-offset-1
                                invisible">
                        Milline neist on Google'i, Tilde või meie tõlketööriista väljund? Näitame vaid siis, kui valid parima tõlke:
                        <div class="space3percent"></div>
                    </div>
                </div>

                <div class="col-lg-6 col-lg-offset-3
                            col-md-6 col-md-offset-3
                            col-sm-6 col-sm-offset-3
                            col-xs-10 col-xs-offset-1
                            nopadding">
                    <div id="translation-choice">
                    </div>
                </div>
            </div>

            {% endblock %}

        </div>
    </div>


    <div class="container-fluid hidden-xs">
        <div class="row">
            <footer class="site-footer">
                <!--
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <a href="https://docs.google.com/forms/d/1NVvFbRUv1Yx_F9pbrfA1hr9tV8W9s1V7DfRrSwSiwJ0/viewform?edit_requested=true" target="_blank">
                        Uuring
                    </a>
                </div>
                -->

                <div class="col-sm-6 col-md-6 col-lg-6 text-right">
                    <a href="/about/et">
                        Mis see on?
                    </a>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <a href="/error/et">
                        Paneb puusse!!!
                    </a>
                </div>
            </footer>
        </div>
    </div>

    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/language.js')}}"></script>
    <script src="{{url_for('static', filename='js/translations_interface.js')}}"></script>
    <script src="{{url_for('static', filename='js/mobile_toggle_menu.js')}}"></script>

    {% block languages %}

    <script>
        // Dropdown menu generation
        var language_pairs = {{ available_language_pairs|tojson }};
        var language_culture_names = {{ language_culture_names_to_estonian|tojson }};

        $(function() {
            GenerateTranslateFromList(language_pairs, language_culture_names);
        });
    </script>

    {% endblock %}

</body>
</html>
